@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #080628;
  height: 100vh; /* 100% of the viewport height */
  overflow: hidden; /* Optional: to prevent scrollbars */
  font-family: 'Poppins', sans-serif;
}
